# Python
venv/
__pycache__/
*.py[cod]

# Environment
.env
backend/.env

# Uploads
backend/uploads/

# Cache
backend/**/__pycache__/

# Frontend
frontend/node_modules/
frontend/dist/

# macOS
.DS_Store

# VS Code
.vscode/